* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    block-size: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* header start */
header {
    width: 100%;
    height: 685px;
    background: #f6f2f2;
}

header .container {
    width: 90%;
    height: 685px;
    /* background: #bc0f0f; */
    padding-top: 30px;
    margin: auto;
}

header .container .top {
    width: 90%;
    height: 90px;
    background: #000;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .container .top ul {
    width: 60%;
    height: 90px;
    /* background: #423030; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container .top ul li a {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #e0e0e0;
    text-transform: uppercase;
}

header .container .top ul li a:hover {
    background: red;
    padding: 35px 25px;
    margin: -35px -25px;
}

header .container .buttom {
    width: 100%;
    height: 390px;
    /* background: #bcff04; */
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container .buttom .left {
    width: 49%;
    /* background: #00eeff; */
}

header .container .buttom .right {
    width: 49%;
    /* background: #6200ff; */
    display: flex;
    justify-content: end;
    align-items: center;
}

header .container .buttom .right iframe {
    box-shadow: 0px 0px 30px black;
}

header .container .buttom .left h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 60px;
    color: #000;
    text-transform: uppercase;
}

header .container .buttom .left p {
    font-size: 16px;
    color: #000;
    margin: 15px 0;
    line-height: 25px;
}

header .container .buttom .left button {
    font-size: 18.5px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    color: #fff;
    text-transform: capitalize;
    background: #ff2d2d;
    padding: 18px 56px;
    border-radius: 5px;
    border: none;
    margin-top: 30px;
}

/* header end */
/* sectoin start  */
section {
    width: 100%;
    height: 700px;
    background: #ffffff;
    /* padding-botto: 2px solid red; */
}

section .container {
    width: 90%;
    height: 700px;
    /* background: #d44545; */
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

section .left {
    padding-top: 120px;
    width: 45%;
    height: 700px;
    /* background: #55ff00; */
}

section .right {
    width: 45%;
    height: 700px;
    /* background: #159f61; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

section .left h2 {
    font-size: 42px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
    word-spacing: 2px;
}

section .left p {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    color: #000;
    line-height: 27px;
    margin: 30px 0;
}

section .left button {
    font-size: 18.5px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    color: red;
    text-transform: capitalize;
    background: none;
    padding: 18px 56px;
    margin: 18px 56px;
    border-radius: 5px;
    margin-top: 10px;
    border: 2px solid red;
}

section .left button:hover {
    font-size: 18.5px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    color: #fff;
    text-transform: capitalize;
    background: #ff2d2d;
    padding: 18px 56px;
    border-radius: 5px;
    border: none;
    margin-top: 30px;
}

section .right .servis {
    width: 45%;
    height: 250px;
    /* border: 2px solid black; */
}

section .right .servis i {
    font-size: 35px;
    color: red;
}

section .right .servis h4 {
    font-size: 24px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    margin: 20px 0;
}

section .right .servis p {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    line-height: 25px;
}

/* sectoin end  */
/* main start */
main {
    width: 100%;
    height: 1300px;
    /* background: #7d75ac; */
}

main .container {
    width: 90%;
    height: 1100px;
    margin: auto;
    /* background: #00ff66; */
}

main .container .start {
    width: 100%;
    height: 300px;
    /* background: #6984c9; */
    display: flex;
    justify-content: center;
    align-items: center;
}

main .start nav {
    width: 40%;
    /* background: greenyellow; */
    text-align: center;
}

main .start nav h1 {
    font-size: 42px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

main .start nav p {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    line-height: 28px;
    margin-top: 10px 0;
}

main .start nav button {
    background: red;
    border: 1.5px solid red;
    width: 20%;
    height: 3px;
}

main .end {
    width: 100%;
    height: 800px;
    /* background: #ba0c63; */

}

main .end ul {
    width: 80%;
    height: 100px;
    /* background: #ddff00; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

main .end ul li a {
    color: #4c4c4c;
    font-size: 22px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

main .end ul li a:hover {
    color: #ff2d2d;
}

main .end .img {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

main .end .img img {
    margin-top: 20px;

}

main .end .footer {
    width: 100%;
    height: 230px;
    /* background: darkolivegreen; */
    margin-top: 50px;
}

main .end .footer h2 {
    color: #585858;
    font-size: 42px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 18px;
}

main .end .footer p {
    color: #585858;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    margin-top: 30px;
    line-height: 26px;
}

main .end .footer button {
    background: red;
    border: 1.5px solid red;
    width: 20%;
    height: 3px;
    margin-top: 30px;
}

/* main end */
/* mark start */
.mark {
    width: 100%;
    height: 600px;
    /* background: #04ff00; */
}

.mark .container {
    width: 90%;
    height: 500px;
    /* background: #f6ff00; */
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mark .container .left {
    width: 30%;
    height: 500px;
    /* background: #ffb300; */
    margin-top: 50px;
}

.mark .container .left img {
    width: 100%;
    height: 100%;
}

.mark .container .right {
    width: 68%;
    height: 500px;
    /* background: #00ccff; */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 50px;
}

.mark .container .right .top h2 {
    color: #4c4c4c;
    font-size: 42px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.mark .container .right .top p {
    color: #4c4c4c;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;

}

.mark .container .right .top p {
    color: #4c4c4c;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 35px;
    line-height: 27px;
}

.mark .container .right .top ul {
    display: flex;
    gap: 20px;
}

.mark .container .right .top ul li i {
    color: #4c4c4c;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}

.mark .container .right .buttom {
    width: 100%;
    height: 270px;
    /* background: #ff00b3; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mark .container .right .buttom .img {
    width: 24%;
    height: 270px;
    /* background: #ff5719; */
}

.mark .container .right .buttom .img img {
    width: 100%;
    height: 100%;
}

/* mark end */
/* Design start */
.design {
    width: 100%;
    height: 510px;
    background: #f5f0dd;
}

.design .container {
    width: 90%;
    height: 510px;
    /* background: #4abb11; */
    margin: auto;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.design .container h2 {
    color: #4c4c4c;
    font-size: 42px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    text-align: center;

}

.design .container p {
    color: #4c4c4c;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    margin-top: 35px;
}

.design .container nav .search {
    margin-top: 60px;
}

.design .container nav .search input {
    padding: 0 0 0 30px;
    width: 45%;
    height: 65px;
    border-radius: 5px;
    border: none;
}

.design .container nav .search button {
    padding: 25px 45px;
    background: #ff2d2d;
    color: #ffff;
    border-radius: 5px;
    border: none;
    text-transform: uppercase;

}

.design .container nav {
    width: 90%;
    height: 300px;
    /* background: greenyellow; */
    margin: auto;
    /* border: 2px solid red; */
}

/* Design end */
/* get start */


.get {
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: darkolivegreen; */
}

.get .footer {
    width: 90%;
    height: 230px;
    margin: auto;
    /* background: #000; */

}

.get h1 {
    color: #585858;
    font-size: 42px;
    font-family: "Open Sans", sans-serif;
    font-weight: 200;
    text-transform: uppercase;
}

.get p {
    color: #585858;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    margin-top: 30px;
    line-height: 27px;

}

.get button {
    background: red;
    border: 1.5px solid red;
    width: 10%;
    height: 3px;
    margin-top: 30px;
}

/* get end */
/* send start */
.send {
    width: 100%;
    height: 690px;
    /* background: #828bd3; */
}

.send .container {
    width: 90%;
    height: 590px;
    /* background: #3eb308; */
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.send .container .left {
    width: 58%;
    height: 540px;
    /* background: #918a5b; */
}

.send .container .right {
    width: 38%;
    height: 540px;
    background: #000000;
}

.send .container .left nav {
    width: 100%;
    height: 100px;
    /* background: #ff0000; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.send .container .left nav input {
    width: 45%;
    height: 70px;
    border-radius: 5px;
    border: none;
    padding: 0 0 0 35px;
    background: #e5e5e5;
}

.send .container .left textarea {
    width: 96.6%;
    height: 250px;
    border-radius: 5px;
    border: none;
    padding: 30px 0 0 30px;
    background: #e5e5e5;
}

.send .container .left button {
    width: 100%;
    height: 70px;
    border-radius: 5px;
    border: none;
    background: red;
    color: #fff;
    margin-top: 45px;
}

.send .container .right h4{
    color: #585858;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    margin-top: 90px;
    line-height: 27px;
    padding: 0 0 0 70px;
    text-transform: uppercase;
}
.send .container .right p{
    color: #585858;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    margin-top: 30px;
    line-height: 27px;
    padding: 0 0 0 70px;
    text-transform: uppercase;
}
/* send end */
/* footer start */
footer{
    width: 100%;
    height: 111px;
    background: #000;
}
footer .container{
    width: 90%;
    height: 90px;
    /* background: #03ff4a; */
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer .container p{
    color: #585858;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
}
footer .container ul{
    display: flex;
    align-items: center;
    gap: 25px;
}
footer .container ul li i{
    font-size: 19px;
    background: #fff;
    color: #000;
    padding: 6px;
    border-radius: 50%;
}
/* footer end */