* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    block-size: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* header start */
header {
    width: 100%;
    height: 685px;
    background: #f6f2f2;
}

header .container {
    width: 90%;
    height: 685px;
    /* background: #bc0f0f; */
    padding-top: 30px;
    margin: auto;
}

header .container .top {
    width: 90%;
    height: 90px;
    background: #000;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .container .top ul {
    width: 60%;
    height: 90px;
    /* background: #423030; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container .top ul li a {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #e0e0e0;
    text-transform: uppercase;
}

header .container .top ul li a:hover {
    background: red;
    padding: 35px 25px;
    margin: -35px -25px;
}

header .container .buttom {
    width: 100%;
    height: 390px;
    /* background: #bcff04; */
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container .buttom .left {
    width: 49%;
    /* background: #00eeff; */
}

header .container .buttom .right {
    width: 49%;
    /* background: #6200ff; */
    display: flex;
    justify-content: end;
    align-items: center;
}

header .container .buttom .right iframe {
    box-shadow: 0px 0px 30px black;
}

header .container .buttom .left h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 60px;
    color: #000;
    text-transform: uppercase;
}

header .container .buttom .left p {
    font-size: 16px;
    color: #000;
    margin: 15px 0;
    line-height: 25px;
}

header .container .buttom .left button {
    font-size: 18.5px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    color: #fff;
    text-transform: capitalize;
    background: #ff2d2d;
    padding: 18px 56px;
    border-radius: 5px;
    border: none;
    margin-top: 30px;
}

/* header end */
/* sectoin start  */
section {
    width: 100%;
    height: 700px;
    background: #ffffff;
    /* padding-botto: 2px solid red; */
}

section .container {
    width: 90%;
    height: 700px;
    /* background: #d44545; */
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

section .left {
    padding-top: 120px;
    width: 45%;
    height: 700px;
    /* background: #55ff00; */
}

section .right {
    width: 45%;
    height: 700px;
    /* background: #159f61; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

section .left h2 {
    font-size: 42px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
    word-spacing: 2px;
}

section .left p {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    color: #000;
    line-height: 27px;
    margin: 30px 0;
}

section .left button {
    font-size: 18.5px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    color: red;
    text-transform: capitalize;
    background: none;
    padding: 18px 56px;
    border-radius: 5px;
    margin-top: 10px;
    border: 2px solid red;
}

section .left button:hover {
    font-size: 18.5px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    color: #fff;
    text-transform: capitalize;
    background: #ff2d2d;
    padding: 18px 56px;
    border-radius: 5px;
    border: none;
    margin-top: 30px;
}

section .right .servis {
    width: 45%;
    height: 250px;
    /* border: 2px solid black; */
}

section .right .servis i {
    font-size: 35px;
    color: red;
}

section .right .servis h4 {
    font-size: 24px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    margin: 20px 0;
}

section .right .servis p {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    line-height: 25px;
}

/* sectoin end  */
/* main start */
main {
    width: 100%;
    height: 285px;
    background: #000;
}

main .con {
    background: green;

}

main .con h4 {
    font-size: 24px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    color: #13ab1a;
}

/* main end */